/**
 * EditSections2 Plugin for DokuWiki / style.css
 * 
 * @author Ben Coburn <btcoburn@silicodon.net>
 * @author Kazutaka Miyasaka <kazmiya@gmail.com>
 */

/*
Makes the default template display much better with this plugin.
If using other templates, you may want to make your own adjustments.

This moves the section edit button down onto the same "line" as the header 
that it belongs to.

Note: Adding the 'body' selector makes these rules more specific, and so 
ensures that they will augment DokuWiki's 'secedit' css rules. You should 
be able to override this by adding the 'html' selector to the 'secedit' css 
rules in your template.
*/

body div.dokuwiki div.secedit {
  overflow: visible;
}

body div.dokuwiki div.secedit input.button,
body div.dokuwiki div.editbutton_plain input.button {
  margin-top: 1.25em;
}

body div.dokuwiki div.editbutton_table input.button {
  margin-top: -2em !important;
}

body div.dokuwiki .section_highlight,
body div.dokuwiki .section_highlight th,
body div.dokuwiki .section_highlight td {
  background-color: __background_alt__ !important;
}
